@model DeThi

<h2>@Model.TenDeThi</h2>

<ul class="list-group mb-4">
    <li class="list-group-item">Số câu hỏi: @Model.SoLuongCauHoi</li>
    <li class="list-group-item">Thời gian làm bài: @Model.ThoiGianLamBai phút</li>
    <li class="list-group-item">Ngày tạo: @Model.NgayTao.ToString("dd/MM/yyyy")</li>
</ul>

<a asp-action="BatDauLamBai" asp-route-id="@Model.Id" class="btn btn-primary">Bắt đầu làm bài</a>


