@model IEnumerable<DeThi>

@{
    ViewData["Title"] = "Home Page";
}


<h2>Danh sách đề thi</h2>

@foreach (var deThi in Model)
{
    <div class="card mb-3 p-3 shadow-sm">
        <h4><a asp-action="ChiTietDeThi" asp-route-id="@deThi.Id">@deThi.TenDeThi</a></h4>
        <p>Số câu hỏi: @deThi.SoLuongCauHoi</p>
        <p>Thời gian làm bài: @deThi.ThoiGianLamBai phút</p>
        <p>Ngày tạo: @deThi.NgayTao.ToString("dd/MM/yyyy")</p>
    </div>
}
